.producto-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
    gap: 20px;
}

.producto-card{
    background-color: bisque;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 20px;
    h1{
        font-size: 2rem;
    }
    p{
        font-weight: 500;
    }
    
}

.producto-imagen{
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    background-color: aliceblue;
    
}